[submodule "moose"]
	path = moose
	url = https://github.com/hugary1995/moose.git
	branch = neml2-v3-migration
[submodule "neml2"]
	path = neml2
	url = https://github.com/hdt5kt/neml2.git
	branch = pyzag_v3_port
